<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>{{title}}</title>
</head>
<body>
    <div>
        <table align="center">
            <tr>
                <td>
                    <table style="background-color: darkcyan; width: 500px;" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <h1 style="text-align: center; color: white;">{{title}}</h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="background-color: azure; width: 500px;" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <h1 style="font-size: large; text-align: center;">Congratulation You are Registered!</h1>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 20px;">
                                    <p style="margin-bottom: 0px;">Hi <b><i>{{username}}</i></b>,</p><br />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 20px;">
                                    <p style="text-align: justify; margin-top: 0px;">
                                        Dear <b><i>{{username}}</i></b>, ThankYou for showing interest in our web application and You are authorized to the Home Page 
                                    </p>
                                    <div>
                                        Now click for Login<a href="{{url}}" style="background-color: blue; color: white; padding: 8px 15px; text-decoration: none; border-radius: 10px;">Login</a>
                                    </div>
                                    <p>
                                        <b>
                                            Thanks<br />
                                            Rohan Zaidy<br />
                                            03219544606
                                        </b>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
